[Desktop Entry]
Name=plasmoid-drop2YaST
Comment=this plasmoid helps you install packages directly from openSUSE ymp files either from local file system or from an internet url, all you need to do is dropping a ymp file link onto this plasmoid. this plasmoid is especially useful for chrome / chromium users because chromium-based web browsers will display ymp file's content directly instead of prompting to save or open it with YaST One-Click-Installer.
Icon=yast-mascot

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=240,100
X-Plasma-RequiredExtensions=LaunchApp
X-KDE-PluginInfo-Author=Bruce Auyeung
X-KDE-PluginInfo-Email=bruce.auyeung@yahoo.com
X-KDE-PluginInfo-Website=http://suselinks.us/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Name=us.suselinks.plasmoid.drop2YaST
X-KDE-PluginInfo-Version=0.1
 
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
Type=Service 
